*{
    padding: 0;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

}
body{
    background-color: #f8f3e4;
}
header{
    background-color: cadetblue;
}


.h1{
    font-size: 50px; color:#f8f3e4;
    text-align: center;
}

.h2{
    font-size: 30px; color:#f8f3e4;
    text-align: center;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 150px;

}
.a-futbol{
    text-decoration: none;
    background-color: #f8f3e4;
    padding: 40px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 0 #000;
    margin-right: 50px;
}

.a-padel{
    text-decoration: none;
    background-color: #f8f3e4;
    padding: 40px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 0 #000;

}
.h3{
    font-size: 30px;
    text-align: center;
}
.p-index{
    font-size: 15px;
    text-align: center;
}







._h1{
    font-size: 40px; color:#f8f3e4;
    text-align: center;
    padding-bottom: 20px;
}


.div-futbol{
    box-shadow: 4px 4px 40px 0 #000;;
    border-radius: 30px;
    display:inline-block;
    margin-top: 0px;
    margin-right: 10px;
    width: 100%
}
.div-futbol img {
    width: 150px;
    margin-left:20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 0;
    float: left;
    cursor: pointer;
   }

.div-futbol h3 {
 float:left;
 width: 80%;
 font-size: 25px;
 margin-top: 10px;
 margin-bottom: 0; 
}
.div-futbol p {
    margin-left: 5px;
    margin-top: 10px;
    float: inline-start;
    font-size: 20px;
}
.div-futbol form{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}
.label1{
    font-size: 10px;
}
.select1{
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;

}
.button{
    padding: 10px;
    cursor: pointer;
}

.section-futbol{
    box-shadow: 4px 4px 40px 0 #000;;
    border-radius: 30px;
    display:inline-block;
    margin-top: 0px;
    margin-right: 10px;
    width: 100%
}
.section-futbol img {
    width: 150px;
    margin-left:20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 0;
    float: left;
    cursor: pointer;
   }

.section-futbol h3{
    float:left;
    width: 80%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0;
}
.section-futbol p {
    margin-left: 5px;
    margin-top: 10px;
    float: inline-start;
    font-size: 20px;
}
.section-futbol form{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}
.label2{
    font-size: 10px;
}
.select2{
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.button2{
    padding: 10px;
    cursor: pointer;
}



.p-h1 {
    font-size: 40px; color:#f8f3e4;
    text-align: center;
    padding-bottom: 20px;
}

.div-padel{
    box-shadow: 4px 4px 40px 0 #000;;
    border-radius: 30px;
    display:inline-block;
    margin-top: 0px;
    margin-right: 10px;
    width: 100%
    }

.div-padel img {
    width: 175px;
    margin-left:20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 0;
    float: left;
    cursor: pointer;
   }

.div-padel h3 {
    float:left;
    width: 80%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0;
}
.div-padel p {
    margin-left: 5px;
    margin-top: 10px;
    float: inline-start;
    font-size: 20px;
}
.div-padel form{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}
.label3{
    font-size: 10px;
}
.select3{
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.button3{
    padding: 10px;
    cursor: pointer;
}


.section-padel{
    box-shadow: 4px 4px 40px 0 #000;;
    border-radius: 30px;
    display:inline-block;
    margin-top: 0px;
    margin-right: 10px;
    width: 100%
}
.section-padel img {
    width: 160px;
    margin-left:20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 0;
    float: left;
    cursor: pointer;
   }
.section-padel h3{
    float:left;
    width: 80%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0;   
}
.section-padel p {
    margin-left: 5px;
    margin-top: 10px;
    float: inline-start;
    font-size: 20px;
}
.section-padel form{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}
.label4{
    font-size: 10px;
}
.select4{
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.button4{
    padding: 10px;
    cursor: pointer;
}

#imagenes {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

#imagen-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

#imagen-ampliada {
    max-width: 90%;
    max-height: 90%;
  }
